<footer class="mdl-mini-footer" style=" width:100%; margin-top:50px;" id="footer">
    <div class="mdl-mini-footer__left-section" style="display: grid;">
        <div class="mdl-logo"><h2>Contacts</h2></div>
        <ul class="mdl-mini-footer__link-list">
            <li><p>Email: clasbs@gmail.com</p></li>
            <li><p>Phone: 3316132080</p></li>
        </ul>
        <ul class="mdl-mini-footer__link-list ">
            <li><a href="https://www.facebook.com/claudio.cheli" class="fa fa-facebook fa-2x"></a></li>
            <li><a href="https://twitter.com/CheliClaudio" class="fa fa-twitter fa-2x"></a></li>
            <li><a href="https://plus.google.com/+ClaudioCheli24" class="fa fa-google fa-2x"></a></li>
            <li><a href="https://www.linkedin.com/in/claudio-cheli-108191114/" class="fa fa-linkedin fa-2x"></a></li>
            <li><a href="https://www.instagram.com/clack243/?hl=it" class="fa fa-instagram fa-2x"></a></li>
            <li><a href="https://github.com/ClaudioCheli" class="fa fa-git fa-2x"></a></li>
        </ul>
    </div>
</footer>
